body{
  padding: 0;
  margin: 0;
  background: black;
}

.system, .sun, .orbit{
  transform-style: preserve-3d;
}

.system{
  margin: 0;
  list-style: none;

  padding: 2rem;
  box-sizing: border-box;

  position: fixed;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%) rotateX(75deg);

  container-type: inline-size;

  display: grid;
  place-items: center;
}

.orbit, .sun{
  aspect-ratio: 1 / 1;
  grid-area: 1 / -1;
  
  border-radius: 50%;
}
.sun{
  width: 10cqi;
  background-color: yellow;

  transform: rotateX(-90deg);
}
.orbit{
  width: 30cqi;
  border: solid #ffffff80 3px;

  position: relative;
  animation: orbit linear 5s infinite;
}
.planet{
  width: 5cqi;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  background-color: blue;

  position: absolute;
  left: 50%;
  translate: -50% -50%;

  animation: invert linear 5s infinite;
}

@keyframes orbit{
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}
@keyframes invert{
  from{
    transform: rotateX(-90deg) rotateY(0deg);
  }
  to{
    transform: rotateX(-90deg) rotateY(360deg);
  }
}