body{
  padding: 0;
  margin: 0;
  background: black;
}

.system, .sun, .orbit{
  transform-style: preserve-3d;
}

.system{
  margin: 0;
  list-style: none;

  padding: 2rem;
  box-sizing: border-box;

  position: fixed;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%) rotateX(75deg);

  container-type: inline-size;

  display: grid;
  place-items: center;
}

.orbit, .sun{
  aspect-ratio: 1 / 1;
  grid-area: 1 / -1;
  
  border-radius: 50%;
}
.sun{
  width: 14cqi;
  background: linear-gradient(135deg, #ffcc33, #ff6600);
  z-index: 1;

  transform: rotateX(-90deg);
}
.orbit{
  width: var(--orbit-diameter);
  border: solid #ffffff80 3px;

  position: relative;
  animation: orbit linear calc(var(--speed) * 5s) infinite;
}
.planet{
  width: var(--planet-diameter);
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  background: var(--color);

  position: absolute;
  left: 50%;
  translate: -50% -50%;

  animation: invert linear calc(var(--speed) * 5s) infinite;
}

@keyframes orbit{
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}
@keyframes invert{
  from{
    transform: rotateX(-90deg) rotateY(0deg);
  }
  to{
    transform: rotateX(-90deg) rotateY(360deg);
  }
}

#mercury{
  --orbit-diameter: 18cqi;
  --planet-diameter: 1cqi;
  --speed: .24;
  --color: linear-gradient(135deg, #b0b0b0, #6c6c6c);

  z-index: 9;
}
#venus{
  --orbit-diameter: 26cqi;
  --planet-diameter: 3cqi;
  --speed: .61;
  --color: linear-gradient(135deg, #f8c471, #e59866, #d68910);

  z-index: 8;
}
#earth{
  --orbit-diameter: 34cqi;
  --planet-diameter: 3cqi;
  --speed: 1;
  --color: linear-gradient(135deg, #1e90ff, #32cd32, #ffffff);

  z-index: 7;
}
#mars{
  --orbit-diameter: 42cqi;
  --planet-diameter: 2cqi;
  --speed: 1.88;
  --color: linear-gradient(135deg, #ff7f50, #8b0000);

  z-index: 6;
}
#jupiter{
  --orbit-diameter: 54cqi;
  --planet-diameter: 7cqi;
  --speed: 12;
  --color: linear-gradient(135deg, #d9a066, #8c5434);

  z-index: 5;
}
#saturn{
  --orbit-diameter: 70cqi;
  --planet-diameter: 6cqi;
  --speed: 29.4;
  --color: linear-gradient(135deg, #f5deb3, #c19a6b);

  z-index: 4;
}
#uranus{
  --orbit-diameter: 84cqi;
  --planet-diameter: 4cqi;
  --speed: 84;
  --color: linear-gradient(135deg, #afeeee, #40e0d0);

  z-index: 3;
}
#neptune{
  --orbit-diameter: 96cqi;
  --planet-diameter: 4cqi;
  --speed: 165;
  --color: linear-gradient(135deg, #4169e1, #00bfff);
  
  z-index: 2;
}