body{
  padding: 0;
  margin: 0;
  background: black;
}

.system{
  margin: 0;
  list-style: none;

  padding: 2rem;
  box-sizing: border-box;

  position: fixed;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);

  container-type: inline-size;

  display: grid;
  place-items: center;
}

.orbit, .sun{
  aspect-ratio: 1 / 1;
  grid-area: 1 / -1;
  
  border-radius: 50%;
}
.sun{
  width: 10cqi;
  background-color: yellow;
}
.orbit{
  width: 30cqi;
  border: solid #ffffff80 3px;
}